#main {
    margin: 60px auto;
    width: 500px;
    height: 600px;
    background-color: white;
}

#main>#main_center {
    float: left;
    width: 100%;
    height: 530px;
    background-color: rgb(202, 202, 245);
}

#main_center>#view_all_write_list {
    float: left;
    width: 100%;
    height: 530px;
    background-color: rgb(202, 202, 245);
    overflow-y: scroll;
}

#main_center>#view_friend_write_list {
    float: left;
    width: 100%;
    height: 530px;
    background-color: rgb(202, 202, 245);
    overflow-y: scroll;
    position: relative;
    display: none;
}

#view_all_write_list::-webkit-scrollbar, #view_friend_write_list::-webkit-scrollbar {
    display: none;
}

#main_center>#write_logo_img {
    float: right;
    position: fixed;
    bottom: 130px;
    right: 510px;
    z-index: 999;
}