#information_div {
    margin: 60px auto;
    width: 500px;
    height: 600px;
    background-color: ghostwhite;
}

#information_div>#information_div_center {
    float: left;
    width: 100%;
    height: 530px;
}